<!-- Existing fields -->
<div class="existing-fields" *ngFor="let item of ExistingArr; let i = index">
   <button (click)="addField(item, i)" class="existing-field-btn">{{ item.label }}</button>
</div>

<!-- Newly added fields -->
<div class="newly-added-fields" *ngFor="let item of neWFields; let i = index">
   <div *ngIf="item.label === 'Name'" class="new-field-container" (click)="createNewField(i)"> <!-- Check if the label is 'Name' -->
     <div *ngFor="let field of item.fieldsName; let j = index" class="new-field"> <!-- Iterate over fieldsName -->
       <label>{{ field.label }}</label>
       <input type="{{ field.type }}" placeholder="{{ field.placeholder }}" [(ngModel)]="field.value" (keyup)="createNewField(i, j)"><br/>
     </div>
   </div>
</div>
 

<!-- On Edit Create Field -->
<!-- On Edit Create Field -->
<div *ngFor="let item of neWFields; let i = index">
   <div *ngIf="item.isEdit && editingIndex === i"> <!-- Check if isEdit is true for the current field -->
       <div *ngFor="let field of item.fieldsName; let j = index">
           <!-- Display only the fields with index 0 (First Name) and 1 (Last Name) -->
           <ng-container>
               <label>{{ field.label }}</label>
               <input type="{{ field.type }}" placeholder="{{ field.placeholder }}" [(ngModel)]="field.value" 
               (keyup)="getInputValue(i, j, $event.target.value)">
           </ng-container>
       </div>
   </div>
</div>







